name: Selenium Tests

on:
  push:

  pull_request:
  workflow_dispatch:
  

jobs:
  selenium_tests_job:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
     
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: maven

    - uses: browser-actions/setup-chrome@latest
    - run: chrome --version

    # - name: Install ChromeDriver
    #   uses: nanasess/setup-chromedriver@v2
    # - run: |
    #     export DISPLAY=:99
    #     chromedriver --url-base=/wd/hub &
    #     sudo Xvfb -ac :99 -screen 0 1280x1024x24 > /dev/null 2>&1 & # optional

    - name: Run Selenium tests
      run:  mvn clean test 
    - name: Archive test results
      if: always()
      uses: actions/upload-artifact@v4
      with:
          name: upload-results
          path: target/surefire-reports
